<div id="addRootModal" tabindex="-1" class="modal fade in" aria-hidden="true">
    <div class="modal-dialog">
        <div class="box box-info">
            <div class="box-header with-border">
                <h5 class="box-title" id="Title"></h5>
                <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="form-horizontal">
                <input type="hidden" id="Id" />
                <input type="hidden" id="ParentId" />
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="">菜单名称</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="Text" type="text" placeholder="菜单名称" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputPassword3">菜单编码</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="Code" type="text" placeholder="菜单编码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputPassword3">菜单类型</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="Type">
                                <option value="0">链接</option>
                                <option value="1">目录</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="">链接地址</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="Url" type="text" placeholder="链接地址">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="">菜单图标</label>
                        <div class="col-sm-10">
                            <div class="dropdown">
                                <input class="form-control" id="Icon" type="text" placeholder="菜单图标"  data-toggle="dropdown" readonly>
                                <div class="dropdown-menu">
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-home"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-cogs"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-user"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-users"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-file-text"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-link"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-save"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-check-square-o"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-comments"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-edit"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-image"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-plus"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-power-off"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-sliders"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-trash"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-address-book-o"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-pie-chart"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-list"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-chevron-down"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-chevron-left"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-chevron-right"></span></button>
                                    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-chevron-up"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="">菜单序号</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="SerialNumber" type="text" placeholder="菜单序号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="">菜单描述</label>
                        <div class="col-sm-10">
                            <textarea id="Remarks" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="pull-right box-tools">
                        <button id="btnSave" class="btn btn-primary" type="button">保存</button>
                        <button class="btn btn-default" type="button" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

