<!DOCTYPE html>

<html>
<head>
    <title>权限管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" charset="utf-8">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/AdminLTE.css">
    <!--皮肤-->
    <link href="~/css/skins/skin-blue.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/jstree/dist/themes/default/style.min.css">
    <link href="~/lib/select2/dist/css/select2.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">
        <div class="content">
            <!-- Main content -->
            <section class="content">
                <!--当创建基于_Layout.cshtml布局页面的视图时，视图的内容会和布局页面合并，视图的内容会渲染呈现在@RenderBody()处-->
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- ./wrapper -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/bootstrap-paginator.js"></script>
    <script src="~/lib/layer/dist/layer.js"></script>
    <script src="~/lib/jstree/dist/jstree.js"></script>
    <script src="~/lib/select2/dist/js/select2.js"></script>
    <script src="~/lib/select2/dist/js/i18n/zh-CN.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
